.ground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 500px;
    height: 500px;

    border: 1px solid black;
    border-radius: 20px;

    background: silver;
    padding: 5%;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    max-height: 70%;
    margin-left: 50px;
    margin-right: 50px;

    border: 3px solid black;
    border-radius: 5px;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

